body {
    margin-top: 60px;
    background-image: url('Image/aboutbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }
.navbar-brand {
    font-weight: bold;
}

/* Footer Styling */
footer {
    background-color: #222;  /* Dark background */
    color: #fff;  /* White text */
    padding: 40px 0;
    text-align: center;
}

footer h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

footer ul {
    padding: 0;
    list-style: none;
}

footer ul li {
    margin: 5px 0;
}

footer ul li a {
    color: #ddd; /* Light gray text */
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #f8c102; /* Yellow hover effect */
}

footer a {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

footer a:hover {
    color: #f8c102; /* Hover color for social icons */
}

footer .bi {
    font-size: 1.5rem; /* Icon size */
    margin: 0 10px;
}

/* Responsive Footer */
@media (max-width: 768px) {
    footer .col-md-4 {
        margin-bottom: 20px;
    }
}
